/* text-align Styles
 ----------------------------------- */
.acenter { text-align:center;}
.aright  { text-align:right;}
.aleft   { text-align:left;}

/** sections
 */
p.tiny-margin {
  margin: 0.2em 0 0.1em;
}

/** floating control
 */

.fright { float:right;}
.fleft  { float:left;}
.clear  { clear:both;visible:none;}
.inline { display:inline;}
.block  { display:block;}
.dnone  { display:none;}


/** list-standard
 */

ul.list-standard {
  margin: 0.5em 0 0.5em;
  padding: 0;
}

ul.list-standard li {
  list-style: none;
  padding: 0 0 0 10px;
  margin: 0 0 0.5em 0;
}

/** list-liner
 */
ul.list-liner {
  margin: 0;
  padding: 0;
}

ul.list-liner li {
  list-style: none;
  float: left;
  margin-right: 10px;
}
