/** sections
 */
p.tiny-margin {
  margin: 0.2em 0 0.1em;
}

/** floating control
 */

.clear {
  clear: both;
}


/** list
 */
ul.list-liner {
  margin: 0;
  padding: 0;
}

ul.list-liner li {
  list-style: none;
  float: left;
  margin-right: 10px;
}
