@charset 'utf-8';

/**
 * Openpear styles for package
 *
 * @description   openpear global styles
 * @package       openpear
 * @date          2009/04/2828
 * @author        sotarok
 */
#sub-package-description h3 {
  margin: 1.0em 0 0.6em;
}
#sub-package-description-category h3 {
  line-height: 100%;
  margin: 0;
  padding: 0;
}

#sub-package-description-description {
  clear: both;
  padding: 10px;
  background: #f0f0ff;
  border: solid 1px #ccccff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#sub-package-navi {
}

#sub-package-navi ul {
  margin: 0;
  padding: 0;
}

#sub-package-navi ul li {
  margin: 0 2px 10px 0 ;
  padding: 0;
  float: left;
  list-style: none;
}
#sub-package-navi ul li a {
  padding: 5px 20px;
  display: block;
  background: #7b011d;
  color: #eee;
}
#sub-package-navi ul li a:hover {
  text-decoration: none;
  background: #4e0415;
}

#sub-package-navi ul li.current a {
  background: #4e0415;
}
#sub-package-navi ul li.admin a {
  background: #4e0415;
}
#sub-package-navi ul li.admin a:hover {
  background: #4e0415;
}
